@media(max-width:1024px){
    /* header */

    .header-nav{
        display: none;
    }
    .container-logo{
        display: flex;
        align-items: center;
        column-gap: 30px;
    }
    .burger-btn{
        display: block;
    }
    /* header */

    /* main */

    .main-container{
        flex-direction: column;
        align-items: normal;
        padding: 0 0 0 15vw;
    }
    .main-contacts-list{
        display: none;
    }
    .slider-container{
        display: none;
    }
    .purple-background{
        width: 90vw;
        height: 120vh;
        max-height: 1050px;
    }
    .grey-background{display: none;}
    .about-us-info{
        width: inherit;
    }
    .about-us-img-container{
        margin: 100px 0;
        align-items: center;
        justify-content: space-between;
        div{
            img{
              max-width: 442px;
              width: 40vw;
            }
          } 
    }
    .see-more.big{
        display: none;
    }
    .see-more.small{
        display: flex;
    }
    
    /* main */
}

@media(max-width: 768px){
    .main-container{
        flex-direction: column;
        align-items: normal;
        padding: 0 20px 0 25px;
    }
    .about-us-img-container{
        padding-right: 0;
    }
}
@media(max-width:425px){
    h1{
        font-size: 32px;
    }
    p{
        font-size: 16px;
    }
    
    /* header */

    .lang-switcher{
        width: 98px;
        height: 98px;
    }

    /* header */


    /* main */
    .main-container{
        margin-top: 40px;
    }
    .about-us-info{
        h1{
            margin: 0 0 24px 0;
        }
        p+p{
            margin-top: 20px;
        }
    }
    .about-us-img-container{
        margin-top: 40px;
        flex-direction: column;
    }
    /* main */
}