* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
html {
  overflow-x: hidden;
}
@font-face {
  font-family: "ZonaPro";
  src: url("./fonts/ZonaPro-Bold.otf");
}
@font-face {
  font-family: "Akrobat";
  src: url("./fonts/Akrobat-Regular.otf");
}
p,
a,
button {
  font-family: "Akrobat";
}
button {
  border: none;
}
h1 {
  font-family: "ZonaPro";
  font-weight: 800;
  font-size: 72px;
  text-transform: uppercase;
}
a {
  color: inherit;
  text-decoration: none;
}
p {
  font-size: 24px;
}

.header,
.main-container,
.games-container,
.footer-container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
/* header */

.header {
  z-index: 6;
  padding: 0 0 0 clamp(1.25rem, -5.4167rem + 8.8889vw, 5.25rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    font-size: 20px;
  }
  a:hover {
    color: #ce0002;
  }
}
.burger-btn{
  display: none;
}

.drawer{
  display: flex;
  width: 300px;
  height: 100%;
  flex-direction: column;
  padding: 120px 0 0 0px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  a{
    padding: 15px 0 15px 25px
  }
  a:hover{
    color: #ce0002;
  }
  a  {
    border-bottom: 1px solid black;
  }

}


/* burger style */

.burger-btn {
  position: relative;
  padding: 10px;
  background: transparent;
  border: 1px solid transparent;
  margin: 7px 0;
}
.burger-btn:focus {
  outline-width: 0;
}

.burger-btn [class*='bar-'] {
  background: #000;
  display: block;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .2s ease all;
          transition: .2s ease all;
  border-radius: 8px;
  height: 3px;
  width: 50px;
  margin-bottom: 16px;
}

.burger-btn .bar-bot {
  margin-bottom: 0;
}

.opened .bar-top {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 0% 00%;
          transform-origin: 0% 0%;
}
.opened .bar-mid {
  opacity: 0;
}
.opened .bar-bot {
  -webkit-transform: rotate(45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: -10% 95%;
          transform-origin: -10% 95%;
}

/* burger style */

.nav-list {
  display: flex;
  column-gap: 35px;
  align-items: center;
}
.nav-container {
  display: flex;
  column-gap: 95px;
}
.lang-switcher {
  height: 120px;
  width: 120px;
  background: #ce0002;
  color: #fff;
  font-size: 20px;
  border: none;
}
/* header */

/* main container */

.main-container {
  position: relative;
  margin-top: 126px;
  padding: 0 0 131px clamp(1.25rem, -5.4167rem + 8.8889vw, 5.25rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-us {
  display: flex;
  column-gap: clamp(1.25rem, -3.6458rem + 6.5278vw, 4.1875rem);
  align-items: center;
  z-index: 4;
}
.our-contacts-list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.about-us-info {
  max-width: 609px;
  width: 40vw;
  h1 {
    margin-bottom: 37px;
  }
  p + p {
    margin-top: 40px;
  }
}
.see-more,
.details{
  display: flex;
  align-items: center;
  column-gap: 15px;
  padding: 20px;
  color: #fff;
  background: #ce0002;
  margin-top: 40px;
  p {
    font-size: 22px;
    max-width: 128px;
    text-align: left;
  }
}
.see-more.small{
  display: none;
}

.about-us-img-container {
  z-index: 3;
  display: flex;
  column-gap: clamp(1.25rem, -15.5208rem + 22.3611vw, 11.3125rem);
  padding-right: clamp(0.625rem, -1.9464rem + 4.0179vw, 2.875rem);
  div{
    img{
      max-width: 442px;
      width: 25vw;
    }
  } 
  
}

.slider-container {
  display: flex;
  align-items: center;
  column-gap: 13px;
  p {
    font-size: 20px;
    text-transform: uppercase;
    color: #646464;
  }
}
.slider-list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.slider-item {
  width: 16.6px;
  height: 16.6px;
  background: #ce0002;
}
.slider-item.active {
  background: #000;
}
.purple-background {
  top: -250px;
  right: 0;
  width: 54vw;
  max-width: 1070px;
  background: #d3d1e9;
  position: absolute;
  display: block;
  height: 60vw;
  max-height: 992px;
  min-height: 800px;
  z-index: 1;
}
.grey-background{
  width: 66vw;
  max-width: 1300px;
  background: #FAFAFA ;
  position: absolute;
  display: block;
  height: 542px;
  z-index: 0;
  bottom: 0;
  right: 0;
}
/* main container */

/* footer */

.footer {
  padding: 0 27px;
  bottom: 0;
  width: 100%;
  background-color: #efefef;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #7e7e7e;
  padding: 14px 0;
  p {
    font-size: 16px;
  }
}
.our-contacts-list.footer-contacts-list {
  flex-direction: row;
  column-gap: 15px;
}
/* footer */
 


/* games */


.games-container{
  background: #FAFAFA;
  position: relative;
  padding: 0 0 0 clamp(1.25rem, -5.4167rem + 8.8889vw, 5.25rem);
}
.games-list{
  display: flex;
  flex-direction: column;
  row-gap: 143px;
}
.game-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;

}
.game-item:nth-child(4){
  h1{
    word-break: break-all;
  }
}
.game-item.default{
  padding: 0 calc(clamp(0.625rem, -2.875rem + 5.4688vw, 3.6875rem) + 71px + clamp(0.625rem, -1.9464rem + 4.0179vw, 2.875rem)) 0 calc(clamp(1.25rem, -3.6458rem + 6.5278vw, 4.1875rem) + 32px) ;
}
.game-item-info{
  flex: 1;
  max-width: 695px;
  width: 43vw;
  h1{
    margin-bottom: 30px;
  }
  p+p{
    margin-top: 40px;
  }
}
.details{
  flex-direction: column;
  font-size: 20px;
}
.game-icon-container{
  flex: 1;
  img{
    width: 100%;
    max-width: 695px;
  }
}
.game-icon.right{
  text-align: right;
}
.slider-container.games{
  align-items: baseline;
  position: absolute;
  top: 320px;
  right: clamp(0.625rem, -1.9464rem + 4.0179vw, 2.875rem);
}
.more-projects{
  margin: 50px 0 20px calc(clamp(1.25rem, -3.6458rem + 6.5278vw, 4.1875rem) + 32px);
}
.our-contacts-list.games-contacts-list{
  position: absolute;
  top: 175px;
}
/* games */